@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Lato:wght@300&family=Raleway:wght@200&family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'David Libre', serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

input {
  padding: 18px;
  border: 1px solid rgb(100, 99, 99);
  border-radius: 9px;
  box-shadow: 2px 3px 3px #ccc;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 35px;
}

h1::after {
  content: '';
  height: 3px;
  width: 150px;
  background-color: #0c8bf3;
  border: 1px solid black;
  border-radius: 32px;
  display: block;
  margin: 6px auto;
}

h2::after {
  content: "";
  height: 3px;
  width: 35px;
  background-color: #0c8bf3;
  border: 1px solid #ccc;
  border-radius: 32px;
  display: block;
  margin: 9px;
}

li {
  list-style: none;
}

li:nth-child(even) {
  background-color: #82f387;
}

li:nth-child(odd) {
  background-color: #0c8bf3;
  color: #fff;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.score-body {
  margin-top: 25px;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 100%;
}

.loading {
  display: none;
  color: green;
  font-size: 21px;
  font-weight: 700;
}

.score-form {
  display: flex;
  flex-direction: column;
  flex: 1 1 45%;
  margin: 0 25px;
}

.article-items {
  padding: 5px;
  margin: 15px auto;
  width: 95%;
}

.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 90%;
  font-weight: 600;
}

.score-items {
  border: 1px solid rgb(211, 204, 204);
  border-radius: 4px;
  margin: 6px;
  box-shadow: 1px 2px 3px rgb(211, 204, 204);
}

.serial {
  flex: 1 1 15%;
}

.details {
  flex: 2 1 80%;
  display: flex;
  justify-content: space-between;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.description {
  border: 1px solid black;
  border-radius: 9px;
  box-shadow: 2px 2px 3px #ccc;
  padding: 3px;
}

.score-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 450px;
  overflow-y: scroll;
}

.btn {
  cursor: pointer;
  padding: 9px 20px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 2px 3px rgb(1, 1, 47);
  font-weight: 700;
}

.btn:active {
  box-shadow: none;
}

#add-score-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 90%;
  padding: 3px;
}

.form-control {
  height: 12px;
  width: 95%;
  margin: 9px auto;
}

.form-control-btn {
  width: 25%;
  margin: 12px 0;
  background: rgb(91, 91, 245);
  color: #fff;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #82f387;
  color: #000;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 3s;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}
